:host {
    background-color: var(--blue-600);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 70px;
        a {
            color: white;
            text-decoration: none;
            font-size: 15px;
            &:hover {
                color: var(--bluegray-100);
            }
            >i {
                font-weight: bolder;
            }
        }
    }
}