<h2>Correction du labo: Gestion de tournoi (client en angular)</h2>
<p-card>
    <p>Pour installer le projet, il suffit d'exécuter la commande</p>
    <code class="prettyprint">npm install</code>
    <p>Pour lancer le projet (N'oubliez pas de lancer l'api avant)</p>
    <code class="prettyprint">ng serve -o</code>

    <p>Certaines fonctionnalités ne sont <strong>accessibles</strong> que lorsque l'on est connecté</p>
    <p>Admin</p>
    <dl>
        <dt>username</dt>
        <dd>checkmate</dd>
        <dt>password</dt>
        <dd>1234
        <dd>
    </dl>
    <p>Members</p>
    <dl>
        <dt>username</dt>
        <dd>sarah</dd>
        <dt>password</dt>
        <dd>1234
        <dd>
    </dl>
    <dl>
        <dt>username</dt>
        <dd>john</dd>
        <dt>password</dt>
        <dd>1234
        <dd>
    </dl>

    <p>Vous pouvez bien évidemment créer d'autres compte une fois connecté avec le compte de Mr Checkmate</p>


    <p>Cette correction reprend les points: </p>
    <ul>
        <li>Composants</li>
        <li>Directives</li>
        <li>Pipes</li>
        <li>Routing</li>
        <li>Modules</li>
        <li>Services</li>
        <li>Observables</li>
        <li>Formulaires</li>
        <li>Validators</li>
        <li>AsyncValidators</li>
        <li>Resolvers</li>
        <li>Interceptors</li>
        <li>Guards</li>
        <li>Animations</li>
        <li>Stores (ngrx)</li>
    </ul>

    <p>J'ai utilisé la bibliothèque de Composants <strong>Primeng</strong> (pour rendre le tout moins moche ^^)</p>
</p-card>